@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_App.cshtml";
}

<!-- Page header -->
<div class="page-header">
    <div class="page-title">
        <h3>Home <small>Seja bem vindo</small></h3>
    </div>


</div>
<!-- /page header -->

<div class="breadcrumb-line">
    <ul class="breadcrumb">
        <li><a href="index.html">Home</a></li>
    </ul>

    <div class="visible-xs breadcrumb-toggle">
        <a class="btn btn-link btn-lg btn-icon" data-toggle="collapse" data-target=".breadcrumb-buttons"><i class="icon-menu2"></i></a>
    </div>

    <ul class="breadcrumb-buttons collapse"></ul>
</div>


@section scripts{

}

